.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-link {
  color: #61dafb;
}
nav {
  margin: 0;
  padding: 1rem 0;
  overflow: hidden;
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid #00000020;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  width: 100%;
}
nav a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
}
.book-section,
.author-section,
.sell-section {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
  justify-content: space-around;
  text-align: justify;
  padding: 2rem;
  justify-items: center;
  width: 90%;
}

img.book-image,
img.author-image {
  max-height: 400px;
  border: solid 6px #ffffff;
  box-shadow: 1px 1px 6px 1px #00000029;
}

@media (max-width: 768px) {
  .book-section,
  .author-section,
  .sell-section {
    flex-direction: column;
    width: 80%;
  }
  img.book-image,
  img.author-image {
    max-height: 300px;
    margin: auto;
  }
}
.book-section,
.author-section,
.sell-section {
  margin: 2rem;
  background-color: #f5f5f5;
  border: 1px solid #00000020;
  border-radius: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.author-description,
.book-description,
.sell-description {
  text-align: justify;
  border-radius: 14px;
  line-height: 2;
}

.purchase-button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 12px;
  text-transform: uppercase;
  width: 14em;
  height: 4em;
  font-weight: 600;
}

.purchase-button:hover {
  background-color: green;
  border: 1px solid #00000020;
  color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease-in-out;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
